DirectoryIndex index.php

RewriteEngine on

RewriteCond $1 !^(index\.php|images|css|js|robots\.txt|favicon\.ico|Claims)

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ ./index.php/$1 [L,QSA] 

<IfModule mod_headers.c>

Header add Cache-Control:  "no-store, no-cache, must-revalidate"

</IfModule>